<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1024308274702-22n21f8khe01kt54pp4465ls4tdutf4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024308274702-22n21f8khe01kt54pp4465ls4tdutf4g</string>
	<key>API_KEY</key>
	<string>AIzaSyBm8MX399y6PYqiC4SfQbDzwmSzZW6qpd0</string>
	<key>GCM_SENDER_ID</key>
	<string>1024308274702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Patrick-Pahl.FirebaseGoogleLoginS3</string>
	<key>PROJECT_ID</key>
	<string>project--2760290974844009537</string>
	<key>STORAGE_BUCKET</key>
	<string>project--2760290974844009537.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024308274702:ios:e3d4d5fb06f6463e</string>
	<key>DATABASE_URL</key>
	<string>https://project--2760290974844009537.firebaseio.com</string>
</dict>
</plist>